[tool.poetry]
name = "jax_rtrl"
version = "0.1.0"
description = ""
authors = ["julian <julian.lemmel@tuwien.ac.at>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
gymnax = "^0.0.8"
brax = "^0.10.5"
plotly = "^5.24.0"
flax = "^0.9.0"
dacite = "^1.8.1"
simple-parsing = "^0.1.5"
distrax = "^0.1.5"
tqdm = "^4.66.5"
optax = "^0.2.3"
pyhopper = "^1.2.3"
mujoco-mjx = "^3.2.2"
poethepoet = "^0.28.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poe.tasks]
install_jax_cuda12 = "pip install --upgrade \"jax[cuda12_pip]\" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html"
